/* Basic styling for the body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #239ac2;
}

/* Wrapper that handles the 3D perspective and flipping */
.birthdayCardWrapper {
  perspective: 1500px;
}

/* Birthday Card */
.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* Flip the card when clicked */
.birthdayCard.flipped {
  transform: rotateY(180deg);
}

.birthdayCard:hover {
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.cardFront, .cardInside {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Ensure backface is hidden */
}

.cardFront {
  background-color: #fff;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #ffd856 0%, #f98c6e 100%);
}

.balloons {
  position: absolute;
}

.balloon-1, .balloon-2, .balloon-3, .balloon-4 {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloon-1 { background-color: rgba(255, 40, 90, 0.7); left: 30px; top: 70px; }
.balloon-2 { background-color: rgba(9, 215, 160, 0.7); left: 95px; top: 70px; }
.balloon-3 { background-color: rgba(255, 186, 26, 0.7); left: 160px; top: 70px; }
.balloon-4 { background-color: rgba(12, 122, 159, 0.7); left: 230px; top: 70px; }

.cardInside {
  background-color: #fff;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg); /* Initially, it is rotated to be hidden */
}

p {
  margin: 40px;
  color: #333;
}

.name {
  position: absolute;
  left: 250px;
  top: 270px;
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
}
